@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    height: 100vh;
    background-color: rgb(23, 24, 52) !important;
}
header h3{
    color: #fff;
    padding: 50px 0;
}
.wrapper{
    margin: 150px auto;
    background-color: #FFFFFF;
    padding: 2em;
    width: 500px;
}

#placement{
    width: 100%;
    border: 2px solid #CCCCCC;
    padding: 0.5em 1em;
    outline: none;
    border-radius: 5px;
}

.options{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select{
    /* appearance: none; */
    width: 8rem;
    padding: 0.45rem 0.9rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: rgb(23, 24, 52);
    border: none;
    color: #FFFFFF;
}
select::-ms-expand{
    display: none;
}

.color-inp{
    appearance: none;
    width: 150px;
    height: 45px;
    outline: none;
    border: 1px solid #FFFFFF;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box button, .box a{
    font-size: 1em;
    padding: 0.8em 2em;
    border-radius: 5px;
    width: 100%;
}

.box button:disabled{
    background-color: rgb(23, 24, 52);
    color: #FFFFFF;
    border: 2px solid rgb(23, 24, 52);
}

.box button{
    background-color: #f94646;
    color: #FFFFFF;
    border: 2px solid #d41010;
}

.box a{
    margin-top: 10px;
    text-decoration: none;
    background-color: #0e8501;
    color: #FFFFFF;
    border: 2px solid #9c95ea;
    text-align: center;
}

.container-box{
    margin-top: 15px;
    border-radius: 5px;
}

.footer-text{
    margin-top: 180px;
    color: #fff;
}